
{plugins, [rebar3_gpb_plugin]}.

%% Because I had to add the dialyzer nowarn entries for mesos_state_overlay_pb
%% I do not run these manually
%% if you want to regenerate the protobuf:
%% ./rebar3 protobuf clean
%% ./rebar3 protobuf compile


%{provider_hooks, [
%    {pre, [
%        {compile, {protobuf, compile}},
%        {clean, {protobuf, clean}}
%    ]}
%]}.

{gpb_opts, [
    {msg_name_prefix, "navstar_dns_"},
    {module_name_prefix, "navstar_dns_"},
    {module_name_suffix, "_pb"},
    {msg_name_to_lower, true},
    {strings_as_binaries, true},
    type_specs,
    strings_as_binaries,
    il
]}.
