{erl_opts, [debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "3.2.0"}}},
    {eflame, ".*", {git, "https://github.com/slfritchie/eflame.git", master}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", {tag, "0.97.1"}}},
    {lashup, ".*", {git, "git://github.com/dcos/lashup.git", master}}
]}.

{relx, [{release, {'navstar', "0.1.0"}, [navstar, mnesia, eper, runtime_tools, eflame, debugger, observer]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.


{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(dtrace)\" : Mod)", []}]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {lint,  [
        {plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}
    ]},
    {docs, [
        {deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}]}
    ]}
]}.

{elvis,
    [
        {config,
            [
                #{dirs => ["src", "test"],
                    filter => "navstar_*.erl",
                    rules => [
                    {elvis_style, max_function_length, #{max_length => 30}},
                    {elvis_style, no_spec_with_records},
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
                    {elvis_style, no_behavior_info},
                    {elvis_style, used_ignored_variable},
                    {elvis_style, nesting_level, #{level => 3}},
                    {elvis_style, god_modules, #{limit => 25}},
                    {elvis_style, no_if_expression},
                    {elvis_style, line_length, #{limit => 120, count_comments => false}},
                    {elvis_style, no_tabs},
                    {elvis_style, no_trailing_whitespace},
                    {elvis_style, macro_names},
                    {elvis_style, macro_module_names},
                    {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}}
                ]
                }
            ]
        }
    ]
}.
