{minimum_otp_vsn, "20.0"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {parse_transform, lager_transform},
    {i, "apps"}
]}.

{deps, [
    % Mesosphere and DC/OS repos
    {erldns, {git, "https://github.com/dcos/erl-dns.git", {branch, "master"}}},
    {gen_netlink, {git, "https://github.com/mesosphere/gen_netlink.git", {branch, "master"}}},
    {inotify, {git, "https://github.com/dcos/inotify.git", {branch, "master"}}},
    {ip_vs_conn, {git, "https://github.com/mesosphere/ip_vs_conn.git", {branch, "master"}}},
    {riak_dt, ".*", {git, "https://github.com/dcos/riak_dt.git", {branch, "make-faster"}}},
    {lashup, ".*", {git, "https://github.com/dcos/lashup.git", {branch, "urbanserj/metrics"}}},
    {mesos_state, {git, "https://github.com/dcos/mesos_state.git", {branch, "master"}}},
    {tcp_metrics, {git, "https://github.com/mesosphere/tcp_metrics.git", {branch, "master"}}},
    {telemetry, {git, "https://github.com/dcos/telemetry-net.git", {branch, "master"}}},

    % External repos
    {enacl, {git, "https://github.com/jlouis/enacl.git", {branch, "master"}}},
    {dns, {git, "https://github.com/dnsimple/dns_erlang.git", {branch, "master"}}},

    % Hex repos
    cowboy,
    exometer_core,
    sidejob,
    procket,
    erlzk,
    jsx,
    lager,
    folsom,
    setup,
    hut,

    % Debugging tools
    {eflame, {git, "https://github.com/proger/eflame.git", {branch, "master"}}},
    eper,
    recon
]}.

{relx, [
    {release, {'dcos-net', "0.0.1"}, [
        sasl,
        mnesia,
        dcos_net,
        dcos_dns,
        dcos_l4lb,
        dcos_overlay,
        dcos_rest,
        {recon, load},
        {eper, load},
        {eflame, load},
        {debugger, load}
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},
    {overlay, [
        {mkdir, "log/sasl"},
        {mkdir, "data/"},
        {copy, "apps/dcos_dns/data/zones.json", "data/zones.json"}
    ]}
]}.

{plugins, [
    {rebar_covertool, "1.0.0"}
]}.

{eunit_opts, [
    verbose,
    {cover_enabled, true},
    {report, {eunit_surefire, [{dir, "_build/test"}]}}
]}.

{ct_opts, [
    {sys_config, "config/ct.sys.config"}
]}.

{edoc_opts, [{preprocess, true}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(dtrace)\" : Mod)", []}]}.

{overrides, [
    {override, dns, [
        {plugins, [
            {provider_asn1, "0.2.3"}
        ]}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {test, [
        {deps, [
            meck,
            proper
        ]}
    ]},
    {dev, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform},
            {d, 'DEV', true}
        ]}
    ]},
    {lint,  [
        {plugins, [
            {rebar3_lint, "0.1.9"}
        ]}
    ]},
    {docs, [
        {deps, [
            edown
        ]}
    ]},
    {windows, [
        {relx, [
            {release, {'dcos-net', "0.0.1"}, [
                sasl,
                mnesia,
                dcos_net,
                dcos_dns,
                dcos_rest,
                {recon, load},
                {eper, load},
                {eflame, load},
                {debugger, load}
            ]},
            {dev_mode, false},
            {include_erts, true}
        ]},
        {overrides, [
            {override, inotify, [
                {provider_hooks, [{pre, []}]}
            ]},
            {override, enacl, [
                {plugins, [pc]},
                {port_specs, [{"priv/enacl_nif.so", ["c_src/*.c"]}]},
                {provider_hooks, [
                    {post, [
                        {compile, {pc, compile}},
                        {clean, {pc, clean}}
                    ]}
                ]}
            ]}
        ]}
    ]}
]}.

{elvis, [
    #{
        dirs => [
            "apps/dcos_net/src",
            "apps/dcos_net/test",
            "apps/dcos_dns/src",
            "apps/dcos_dns/test",
            "apps/dcos_l4lb/src",
            "apps/dcos_l4lb/test",
            "apps/dcos_overlay/src",
            "apps/dcos_overlay/test",
            "apps/dcos_rest/src",
            "apps/dcos_rest/test"
        ],
        filter => "*.erl",
        ignore => [zbase32],
        rules => [
            {elvis_style, max_function_length, #{max_length => 30}},
            {elvis_style, no_spec_with_records},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
            {elvis_style, no_behavior_info},
            {elvis_style, used_ignored_variable},
            {elvis_style, nesting_level, #{level => 3}},
            {elvis_style, god_modules, #{limit => 25}},
            {elvis_style, no_if_expression},
            {elvis_style, line_length, #{limit => 120, count_comments => false}},
            {elvis_style, no_tabs},
            {elvis_style, no_trailing_whitespace},
            {elvis_style, macro_names},
            {elvis_style, macro_module_names},
            {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}}
        ]
    }
]}.
