[
    {dcos_rest, [
      {ip, {127, 0, 0, 1}},
      {port, 62080}
    ]},

    {dcos_l4lb, [
        {reconcile_timeout, 1000},
        {enable_networking, false}
    ]},

    {dcos_dns, [
        {mesos_resolvers, []},
        {upstream_resolvers, [
            {{1, 1, 1, 1}, 53},
            {{1, 0, 0, 1}, 53}
        ]},
        {udp_port, 8053},
        {tcp_port, 8053}
    ]},

    {erldns,[
        {servers, []},
        {use_root_hints, false},
        {catch_exceptions, false},
        {zones, "data/zones.json"},
        {packet_cache, [
            {enabled, false}
        ]},
        {pools, []}
    ]},

    {kernel, [
        {logger_level, notice},
        {logger, [
            {handler, default, logger_std_h,
                #{level => notice,
                  formatter => {logger_formatter, #{
                    depth => 100,
                    max_size => 10000,
                    template =>[
                        time, " [", level, "]",
                        {pid, [" "], [{mfa, [" "], []}]},
                        {pid, [pid, {mfa, ["@"], []}], []},
                        {mfa, [mfa, {line, [":", line], []}], []},
                        ": ", msg, "\n"
                    ]
                }}}
            },
            {handler, error_log_file_h, logger_std_h,
                #{level => notice,
                  config => #{
                      type => file,
                      file => "log/error.log",
                      max_no_bytes => 10000000, % 10MB
                      max_no_files => 5,
                      compress_on_rotate => true
                  },
                  formatter => {logger_formatter, #{
                    depth => 100,
                    max_size => 10000,
                    time_offset => "",
                    template =>[
                        time, " [", level, "]",
                        {pid, [" "], [{mfa, [" "], []}]},
                        {pid, [pid, {mfa, ["@"], []}], []},
                        {mfa, [mfa, {line, [":", line], []}], []},
                        ": ", msg, "\n"
                    ]
                }}}
            }
        ]}
    ]},

    {telemetry, [
        {is_aggregator, false},
        {forward_metrics, true},
        {receive_metrics, false},
        {interval_seconds, 60},
        {splay_seconds, 20}
    ]},

    {setup, [
        {verify_directories, false}
    ]},

    {prometheus, [
        {collectors, [
            prometheus_boolean,
            prometheus_counter,
            prometheus_gauge,
            prometheus_histogram,
            prometheus_summary,
            prometheus_vm_memory_collector,
            prometheus_vm_statistics_collector,
            prometheus_vm_system_info_collector,
            dcos_net_vm_metrics_collector
        ]},
        {instrumenters, []},
        {vm_system_info_collector_metrics, [
            port_count,
            process_count
        ]}
    ]}
].
