[
  {'navstar', []},
  {kernel,
    [
      {start_pg2, true},
      {start_timer, true}
    ]
  },
  {lager, [
    {handlers, [
      {lager_console_backend, warning},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]
  },
  {lashup,
    [
      {work_dir, "/var/lib/dcos/navstar/lashup"}
    ]
  },
  {mnesia,
    [
      {dir, "/var/lib/dcos/navstar/mnesia"}
    ]
  },
  {navstar_rest,
    [
      {ip, {127, 0, 0, 1}},
      {port, 62080}
    ]
  },
  {mesos_state,
    [
      {ssl_token_file, "/run/dcos/etc/minuteman_auth.env"}
    ]
  }
].
