[
  {'navstar', []},
  {kernel,
    [
      {start_pg2, true},
      {start_timer, true}
    ]
  },
  {lager, [
    {handlers, [
      {lager_console_backend, warning},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]
  },
  {lashup,
    [
      {work_dir, "/var/lib/dcos/spartan/lashup"}
    ]
  },
  {mnesia,
    [
      {dir, "/var/lib/dcos/spartan/mnesia"}
    ]
  }
].
